.articles-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  text-align: center;
}
#article-card-image {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}

.articles {
  padding: 15px;
  border: 3px solid;
  background-color: antiquewhite;
  height: 160px;
}

.navbar {
  display: flex;
  list-style-type: none;
  padding: 0;
}

a {
  height: 200px;
}

#article-id-image {
  height: 500px;
  width: 1000px;
}

.header-nav {
  width: 400px;
}

#author {
  font-weight: bold;
}
